body {
    text-align: center;
}

h1 {
    background-color: lightblue;
    padding: 16px;
}

img {
    border-style: groove;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

button {
    border: 5px;
    border-bottom-style: ridge;
    background-color: lightblue;
    padding: 10px;

}